.l-contentGuide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $BGwhite;
}

.b-contentGuide {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  max-width: 1264px;
  box-sizing: border-box;
  padding: 100px 20px 147px 20px;
  margin: 0;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    padding: 80px 20px;
  }

  @media screen and (max-width: 576px) {
    padding: 60px 20px;
  }

  @media screen and (max-width: 460px) {
    padding: 40px 20px;
  }

  @media screen and (max-width: 340px) {
    padding: 20px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 392px;
  }

  &__articleTitle {
    font-family: $Nunito;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: $fontLightBlue;
    padding: 0;
    margin: 0 0 16px 0;

    &.-wrapper {
      margin: 0 0 26px 0;

      @media screen and (max-width: 460px) {
        font-size: 20px;
        line-height: 21px;
      }
    }
  }

  &__articleImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      .b-contentGuide__articleHoverText {
        opacity: 1;
        transition: all .3s ease;
      }

      .b-contentGuide__imageMask {
        opacity: 1;
        transition: all .3s ease;
      }
    }
  }

  &__imageMask {
    opacity: 0;
    position: absolute;
    background: rgba(25, 28, 36, 0.8);
    width: 100%;
    height: 100%;
    transition: all .3s ease;
  }

  &__articleImage {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  &__articleHoverText {
    opacity: 0;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    width: 100%;
    height: 100%;
  }

  &__articleText {
    font-family: $Nunito;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $fontWhite;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 295px;

    @media screen and (max-width: 460px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
