/**
 * @section mainNavigation
 */
.l-mainNavigation {
  width: max-content;
  height: 100%;

  @media screen and (max-width: 420px) {
    display: none;
  }
}
.b-mainNavigation {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;

  &__item {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 30px 10px 30px;
    margin: 0;
    font-family: $Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: $fontWhite;
    background: $BGpurple;
  }
}
