/**
 * @section siteHeader
 */
.l-siteHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $BGgray;
}
.b-siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1480px;
  box-sizing: border-box;
  padding: 16px 20px;
}
