/** Background Colors **/
$BGblack: #000000;
$BGgray: #191C24;
$BGlightgray: #2B2E35;
$BGwhite: #FFFFFF;
$BGblue: #26A1EB;
$BGpurple: #8B00FF;
$BGgreen: #00D25B;
$BGgreenGradient: linear-gradient(180deg, #00D25B 0%, #05B752 100%);

/** Font Colors **/
$fontBlack: #000000;
$fontWhite: #FFFFFF;
$fontGray: #999A9C;
$fontBlue: #0682CD;
$fontLightBlue: #26A1EB;
